body {
  background-color: #e3b268;
  text-align: center;
}
h1 {
  padding: 25px;
}
p {
  padding-left: 110px;
  padding-right: 110px;
}
a {
  padding: 20px;
  color: blueviolet;
}
#email {
  padding-left: 0px;
}
